<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
  <add name="ThrCon8491123Entities" connectionString="metadata=res://*/FindADoc.csdl|res://*/FindADoc.ssdl|res://*/FindADoc.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=PHDMEDSTST01;Initial Catalog=ThrCon8491123;User ID=ThrCon8491123ReadOnly;Password=s@!lb0@t;MultipleActiveResultSets=True;Connect Timeout=120;&quot;" providerName="System.Data.EntityClient" /></connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0"><assemblies><add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" /></assemblies></compilation>

  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
<system.serviceModel><serviceHostingEnvironment aspNetCompatibilityEnabled="true" /></system.serviceModel></configuration>
